[submodule "lib/oqs"]
	path = lib/oqs
	url = https://github.com/open-quantum-safe/liboqs
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/keccak-tiny"]
	path = lib/keccak-tiny
	url = https://github.com/coruus/keccak-tiny.git
