[submodule "lib/oqs"]
	path = lib/oqs
	url = https://github.com/open-quantum-safe/liboqs
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "lib/acutest"]
	path = lib/acutest
	url = https://github.com/mity/acutest.git
[submodule "lib/doxygen-awesome"]
	path = lib/doxygen-awesome
	url = https://github.com/GlitchedPolygons/doxygen-awesome-css.git
